:root {
  --primary: #02b6ffff;
  --secondary: #0074d9ff;
  --tertiary: #0d47a1;
}

.chakra-ui-dark .map-container [role="dialog"] {
  color: var(--chakra-colors-gray-600);
}
.map-container [role="dialog"] .gm-ui-hover-effect{
  color: var(--chakra-colors-gray-600);
}
.chakra-ui-dark .map-container [role="region"] {
  background-color: #242f3e;
}
.chakra-ui-light .list-item {
border: 1px solid var(--chakra-colors-gray-100)}
.chakra-ui-light .divider {
border-color: 1px solid var(--chakra-colors-gray-200)}
.chakra-ui-dark .list-item {
  box-shadow: rgb(255 255 255 / 10%) 0px 0px 0px 1px, rgb(255 255 255 / 5%) 0px 5px 10px, rgb(255 255 255 / 15%) 0px 15px 40px;
}
.main-header__logo {
  max-width: 142px;
}
.menu-trigger {
  margin-inline-start: 8px !important;
}
.primary-900 {
  background-color: var(--tertiary) !important;
}
.super-margin-top {
  margin-top: 80px;
}
.color-diesel-premium {
  color: #e6a700ff;
}
.color-gas-95 {
  color: #00b000ff;
}
.color-gas-98 {
  color: #d40000ff;
}
.show {
  display: flex;
}
.cont-main {
  margin-top: 60px;
}
.lists-results {
  transition: left 0.4s ease-out;
  left: -100%;
  border-top: 1px solid #b8cae4;
}
.lists-results.show {
  left:0;
}
.toggle-list {
  position:absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 27px;
  color: #fff;
  font-size: 24px;
  background-color: var(--primary);
  transition: all 0.4s ease-out;
}
.chakra-ui-dark .toggle-list {
  background-color: var(--tertiary) 

}
.lists-results.show + .toggle-list {
  left: calc(100% - 20px);
}
@media only screen and (min-width: 48em) {  
  .lists-results.hide {
    display: flex;
  }
  .lists-results {
   border: none;
   left: 0;
  }
  .toggle-list {
    display: none;
  }
}